include variables/_variables

doctype
html
  head
    include components/_header
    title #{titleHome}

  body

    include components/_head

    include components/_footer

    include components/_scripts
