meta(charset="utf-8")
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='x-ua-compatible', content='ie=edge')
  
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

link(rel="stylesheet", href="styles/styles.min.css?v=#{release}")

//- Uncomment when will favicon
//- include ../variables/fav.html
